*{
    margin: 0;
    padding: 0;
}
.donatebutton{
    margin: 5px;
    margin-top: 0px;
    background-color: rgb(255, 60, 0);
    color: white;
    padding: 5px;
    font-weight: 500;
    font-size: 1rem;
}
.joinusbutton{
    margin: 5px;
    margin-top: 0px;
    background-color: rgb(61, 101, 1);
    color: white;
    padding: 5px;
    font-weight: 500;
    font-size: 1rem;
}
.items{
    text-decoration: none;
    color: white;
}
/* Navbar  */
.Nav{
    height: 9vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0px;
    margin-bottom: 5px;
}
.logoName{
    color: white;
    margin-left: 15px;
    margin-top: 8px;
    font-size: xx-large;
}
.Nav_heading{
    font-size: xx-large;
    color: rgba(248, 81, 81, 0.696);
    font-weight: 700;
    font-family: 'Courier New', Courier, monospace;
}
.Nav_button{
    margin-top: 2vh;
    height: 5vh;
    padding: 5px;
    border-radius: 10%;
    margin-right: 10px;
}

/* minor Navbar  */
.secondnav{
    border-top:1px solid white ;
}
.minorNav{
    height: 9vh;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    font-size: 20px;
    color: aliceblue;
}

/* HeroSection  */
.Heroimg{
    width: 100%;
    height: 80vh;
}
.heroText{
    position: absolute;
    right: 250px;
    top: 220px;
}
.heroheadtext{
    font-size: 50px;

}
.Heroparatext{
    font-size: 15px;
}

/* Testimonal  */
#About{
    text-align: center;
    color: white;
}
#Testiomonals{
    color: white;
    display: flex;
    justify-content: space-around;
}
.entities{
    display: flex;
    width: 350px;
}
.testimonalimg{
    height: 90px;
    margin: 5px;
    width: 100px;
    border-radius: 50%;
    border: 1px solid white;
}
